<body class="home-bg">
    <nav class="navbar navbar-light bg-light">
        <a href="/signup">Cadastre-se</a>
        <a href="/login">Login</a>
        <a href="/private">Acesso restrito (requer autenticação)</a>
    </nav>
</body>