<body class="grey-bg">
    
<div class="display-main">
<h1>Olá, {{user.username}}!</h1>

<img src="https://66.media.tumblr.com/baea33b98e5aa66abd0e5da888d06c44/tumblr_pkw4y0EZTh1uk7v3v_1280.jpg" class="img rounded" alt="cute cat">
<br>
<a href="/">Home</a>

</div>
</body>