<body class="grey-bg">


  <form id="form" action="/signup" method="POST">
    <h5>Signup</h5>

    <label for="username">Usuário</label>


    <input type="text" name="username" placeholder="Your username">

    <label for="password">Senha</label>

    <input type="password" name="password" placeholder="*******">

    <button type="submit" class="btn btn-outline-dark">Create account</button>


    <p>Já tem uma conta? <a href="/login">Login</a></p>
    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  </form>


</body>